/* --------------- reset.css --------------- */
header,
nav,
footer,
aside,
section,
article {
  display: block; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, header, nav, footer {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

a {
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, td img, img {
  vertical-align: top; }

input,
select,
button,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: "Trebuchet MS", "Helvetica CY", sans-serif; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

textarea {
  overflow: auto;
  font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
  resize: none; }

input[type="text"],
input[type="password"],
textarea {
  padding: 0; }

input[type="checkbox"] {
  vertical-align: top; }

input[type="radio"] {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #0d1d37;
  background: #09335a;
  background: -moz-linear-gradient(top, #09335a 0%, #0d1d37 160px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #09335a), color-stop(160px, #0d1d37));
  background: -webkit-linear-gradient(top, #09335a 0%, #0d1d37 160px);
  background: -o-linear-gradient(top, #09335a 0%, #0d1d37 160px);
  background: -ms-linear-gradient(top, #09335a 0%, #0d1d37 160px);
  background: linear-gradient(to bottom, #09335a 0%, #0d1d37 160px);
  color: #292929;
  text-align: left;
  font-size: 14px;
  font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
  line-height: 18px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09335a', endColorstr='#0d1d37',GradientType=0 ); }

h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  line-height: 48px; }

h2 {
  margin: 0 0 10px 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px; }

h3 {
  margin: 0 0 10px 0;
  font-size: 23px;
  line-height: 28px;
  font-weight: normal; }

h4 {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 26px; }

h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 24px; }

p {
  margin: 10px 0 20px 0;
  font-size: 14px;
  line-height: 18px; }

a {
  color: #292929;
  text-decoration: underline; }
  a:visited {
    color: #292929; }
  a:hover {
    text-decoration: none; }
  a:active {
    color: #292929; }

ul {
  margin: 10px 0 10px 15px; }

ol {
  margin: 10px 0 10px 15px; }

li {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 20px; }

table {
  margin: 10px 0;
  border: 1px solid #292929; }

th {
  padding: 10px;
  font-size: 16px;
  line-height: 20px; }

td {
  padding: 10px;
  border: 1px solid #292929;
  font-size: 16px;
  line-height: 20px; }

.clearfix:before, .header:before, .footer__menu:before, .main-navigation:before, .main-navigation__menu:before, .content-slider__list:before, .service:before, .team-info:before, .advantage__line:before, .vertical-list__body:before, .clearfix:after, .header:after, .footer__menu:after, .main-navigation:after, .main-navigation__menu:after, .content-slider__list:after, .service:after, .team-info:after, .advantage__line:after, .vertical-list__body:after {
  content: "";
  line-height: 0;
  display: table; }
.clearfix:after, .header:after, .footer__menu:after, .main-navigation:after, .main-navigation__menu:after, .content-slider__list:after, .service:after, .team-info:after, .advantage__line:after, .vertical-list__body:after {
  clear: both; }

.container {
  width: 960px;
  margin: 0 auto; }

.video-frame {
  margin: 10px 0 10px 40px; }

.image-center {
  text-align: center; }
  .image-center img {
    margin: 0 15px 10px;
    vertical-align: top; }

.fl-right {
  float: right !important; }

.fl-left {
  float: left !important; }

.ta-center {
  text-align: center !important; }

.u-margin-bothm {
  margin-left: 58px !important;
  margin-right: 58px !important; }

.u-margin-tb {
  margin-top: 58px !important; }

.u-margin-tm {
  margin-top: 30px;
  margin-bottom: 13px; }

.u-margin-vnegative {
  margin: 0 -60px; }

.u-width-44px {
  width: 44px; }

.u-width-82px {
  width: 82px; }

.u-padding-tm {
  padding-top: 40px; }

.u-padding-bothm {
  padding: 0 20px; }

.box {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 1, 0, 0.75);
  box-shadow: 0 4px 18px 0 rgba(0, 1, 0, 0.75);
  overflow: hidden;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 0 50px 0;
  border: 1px solid #9b9b9b;
  background-color: #fff; }

.box__section {
  position: relative; }

.box__title {
  margin: 0;
  padding: 15px 0;
  width: 100%;
  color: #f8f8f8;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow: 2px 4px 4px rgba(0, 1, 0, 0.75);
  background-color: #006519;
  -moz-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
  background-image: -moz-linear-gradient(left, #006519 0%, #008121 50.46%, #006519 100%);
  background-image: -o-linear-gradient(left, #006519 0%, #008121 50.46%, #006519 100%);
  background-image: -webkit-linear-gradient(left, #006519 0%, #008121 50.46%, #006519 100%);
  background-image: linear-gradient(left, #006519 0%, #008121 50.46%, #006519 100%); }

.box__content .tech-list {
  padding: 15px 70px; }

.btn {
  overflow: visible;
  position: relative;
  display: inline-block;
  padding: 10px 30px 10px 40px;
  height: 41px;
  border: none;
  background: transparent url("../images/btns.png") no-repeat 0 -118px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 1, 0, 0.75);
  font-size: 19px;
  line-height: 21px;
  cursor: pointer;
  -webkit-text-shadow: 0 1px 2px rgba(0, 1, 0, 0.75);
  -moz-text-shadow: 0 1px 2px rgba(0, 1, 0, 0.75); }
  .btn:after {
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    overflow: hidden;
    width: 10px;
    height: 44px;
    background: url("../images/btns.png") no-repeat 100% -118px;
    content: '';
    text-indent: -9999px; }
  .btn:focus {
    outline: none;
    border: none; }
  .btn:link {
    color: #fff; }
  .btn:visited {
    color: #fff; }
  .btn:hover {
    background-position: 0 -170px;
    color: #fff; }
    .btn:hover:after {
      background-position: 100% -170px; }
  .btn:active {
    color: #fff; }

.btn_icon-call {
  padding-right: 10px;
  padding-left: 40px;
  height: 44px;
  background-position: 0 0;
  line-height: 24px; }
  .btn_icon-call:before {
    position: absolute;
    top: 9px;
    left: 12px;
    display: block;
    overflow: hidden;
    width: 23px;
    height: 25px;
    background: url("../images/icons.png") no-repeat 0 0;
    content: '';
    text-indent: -9999px; }
  .btn_icon-call:after {
    background-position: 100% 0; }
  .btn_icon-call:hover {
    background-position: 0 -56px; }
    .btn_icon-call:hover:after {
      background-position: 100% -56px; }

.box + .slider {
  margin-top: -15px; }

.slider {
  margin: 0 auto 35px;
  width: 960px;
  position: relative;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .slider .prev,
  .slider .next {
    position: absolute;
    cursor: pointer;
    background: url("../images/icons.png") no-repeat;
    width: 47px;
    height: 221px;
    top: 50%;
    margin-top: -110px;
    text-indent: -9999px;
    overflow: hidden; }
  .slider .prev {
    left: -64px;
    background-position: 0 -62px; }
  .slider .next {
    right: -64px;
    background-position: -57px -62px; }
  .slider.slider_frontpage {
    -webkit-box-shadow: 0 50px 50px -20px #000000;
    box-shadow: 0 50px 50px -20px #000000;
    width: 916px; }
    .slider.slider_frontpage .slider__item {
      width: 916px;
      height: 375px; }
    .slider.slider_frontpage .caroufredsel_wrapper {
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
      border-radius: 9px; }
  .slider .caroufredsel_wrapper {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }

.pagination {
  position: absolute;
  top: 10px;
  right: 70px; }
  .pagination a {
    float: left;
    width: 13px;
    height: 13px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #bebebe;
    -moz-box-shadow: 0 1px 1px rgba(0, 1, 0, 0.28);
    -webkit-box-shadow: 0 1px 1px rgba(0, 1, 0, 0.28);
    box-shadow: 0 1px 1px rgba(0, 1, 0, 0.28);
    margin-left: 7px;
    text-indent: -9999px;
    overflow: hidden; }
    .pagination a.selected {
      background-color: #4f9808; }

.slider__title {
  color: #f8f8f8;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 25px;
  text-indent: 70px;
  font-weight: bold;
  text-shadow: 2px 4px 4px rgba(0, 21, 36, 0.75);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.slider__item {
  float: left;
  position: relative;
  width: 960px;
  height: 460px;
  margin: 0 auto;
  overflow: hidden; }
  .slider__item img {
    position: absolute;
    top: 0;
    left: 0; }

.slider__content {
  position: relative;
  padding: 40px 0 0 90px;
  margin: 0 0 50px 0; }
  .slider__content h1 {
    color: #fff;
    -webkit-text-shadow: 0 4px 4px rgba(0, 1, 0, 0.61);
    -moz-text-shadow: 0 4px 4px rgba(0, 1, 0, 0.61);
    text-shadow: 0 4px 4px rgba(0, 1, 0, 0.61); }

.slider__special-offer {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  width: 476px;
  border: 1px solid #016702;
  position: relative;
  background: #00661a;
  padding: 12px 0 10px 90px;
  background: -moz-linear-gradient(left, #00661a 0%, #00b22d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00661a), color-stop(100%, #00b22d));
  background: -webkit-linear-gradient(left, #00661a 0%, #00b22d 100%);
  background: -o-linear-gradient(left, #00661a 0%, #00b22d 100%);
  background: -ms-linear-gradient(left, #00661a 0%, #00b22d 100%);
  background: linear-gradient(to right, #00661a 0%, #00b22d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00661a', endColorstr='#00b22d',GradientType=1 );
  -webkit-box-shadow: 0 1px 3px 0 #016702;
  box-shadow: 0 1px 3px 0 #016702; }
  .slider__special-offer:before {
    content: "";
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/slider_special_offers_bg.png") 0 0 no-repeat;
    width: 139px;
    height: 70px;
    left: 0;
    top: 0;
    position: absolute; }
  .slider__special-offer h2 {
    color: #fff;
    -webkit-text-shadow: 0 1px 1px rgba(0, 1, 0, 0.28);
    -moz-text-shadow: 0 1px 1px rgba(0, 1, 0, 0.28);
    text-shadow: 0 1px 1px rgba(0, 1, 0, 0.28); }

.slider__special-offer-content {
  position: relative; }

.content-slider {
  margin: 0 auto;
  width: 800px; }

.content-slider__list {
  list-style-type: none; }

.content-slider__item {
  float: left; }

.content-slider__pagination {
  text-align: center;
  margin: 15px 0 10px; }
  .content-slider__pagination a {
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px / 4px 4px 4px 4px;
    -webkit-border-radius: 4px / 4px 4px 4px 4px;
    border-radius: 4px / 4px 4px 4px 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #676767;
    margin-left: 2px;
    text-indent: -9999px;
    overflow: hidden; }
    .content-slider__pagination a.selected {
      background-color: #00701d; }

.header {
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  border-radius: 0 0 9px 9px;
  margin: 0 auto 1px;
  padding: 15px 0 7px 0;
  width: 960px;
  border: 1px solid #fff;
  background: #c0c6de;
  background: -moz-linear-gradient(top, #c0c6de 0%, white 62%, #e7e7ed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0c6de), color-stop(62%, white), color-stop(100%, #e7e7ed));
  background: -webkit-linear-gradient(top, #c0c6de 0%, white 62%, #e7e7ed 100%);
  background: -o-linear-gradient(top, #c0c6de 0%, white 62%, #e7e7ed 100%);
  background: -ms-linear-gradient(top, #c0c6de 0%, white 62%, #e7e7ed 100%);
  background: linear-gradient(to bottom, #c0c6de 0%, white 62%, #e7e7ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c6de', endColorstr='#e7e7ed',GradientType=0 ); }
  .header .logo {
    float: left;
    width: 340px;
    text-align: center; }
    .header .logo a {
      display: block;
      text-align: center; }
    .header .logo p {
      margin: 0 0 0 0;
      color: #585858;
      text-shadow: 0 1px 0px #fff;
      font-style: italic;
      font-size: 13px;
      line-height: 14px; }

.header__contact {
  float: left;
  margin: 0 0 0 2px;
  padding: 10px 0 0 0;
  width: 370px; }

.header__contact-address .lead {
  color: #585858;
  font-size: 17px;
  line-height: 28px; }
.header__contact-address .number {
  color: #585858;
  font-size: 17px;
  line-height: 28px; }
  .header__contact-address .number span {
    font-size: 27px;
    color: #016da9; }
.header__contact-address .mail {
  color: #585858;
  text-shadow: 0 1px 0px #fff;
  font-size: 17px;
  line-height: 28px; }
  .header__contact-address .mail a {
    padding-left: 25px;
    color: #000;
    text-decoration: none;
    text-shadow: 0 1px 0px #fff; }
    .header__contact-address .mail a:hover {
      text-decoration: underline; }

.web-call {
  float: left;
  padding: 10px 0 0 0;
  width: 220px;
  text-align: center; }
  .web-call .lead {
    margin: 0 0 10px 0;
    color: #585858;
    font-size: 16px;
    line-height: 26px; }

.main {
  width: 100%;
  min-width: 960px;
  padding: 0 0 10px 0;
  background: transparent url(../images/main_gradient_bg_bottom.png) 0 100% repeat-x; }

.main__inner {
  width: 960px;
  margin: 0 auto; }

.main-title {
  position: relative;
  margin: 30px 0;
  color: #f8f8f8;
  text-align: center;
  font-size: 30px;
  line-height: 30px; }

.footer {
  min-width: 960px;
  width: 100%;
  border-top: 1px solid #33455d;
  background-color: #122742; }

.footer__top {
  position: relative;
  min-width: 960px;
  width: 100%;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 1, 0, 0.37);
  box-shadow: 0 4px 4px -2px rgba(0, 1, 0, 0.37); }

.footer__top-inner {
  margin: 0 auto;
  padding: 12px;
  width: 960px; }

.footer__menu {
  list-style-type: none; }

.footer__menu-title {
  float: left;
  margin: 0 0 0 0;
  margin-left: 34px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 21, 36, 0.75);
  font-size: 19px;
  line-height: 31px; }
  .footer__menu-title:first-child {
    margin-left: 0; }
  .footer__menu-title ul {
    margin: 0 0 10px 0;
    list-style-type: none; }
  .footer__menu-title li {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 0; }
    .footer__menu-title li:before {
      content: "-";
      padding: 0 4px 0 0; }
    .footer__menu-title li a {
      color: #fff;
      text-decoration: none; }
      .footer__menu-title li a:hover {
        text-decoration: underline; }
  .footer__menu-title address {
    font-style: normal; }
    .footer__menu-title address a {
      color: #44a9ff;
      text-decoration: none; }
      .footer__menu-title address a:hover {
        text-decoration: underline; }
  .footer__menu-title p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 0; }

.copyright {
  min-width: 960px;
  width: 100%;
  background-color: #0d1d37;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 0; }

.main-navigation {
  position: relative;
  display: table;
  margin: 0 auto 25px;
  padding: 0 40px 0 32px;
  width: 960px;
  border-bottom: 1px solid #4a5d7d;
  background: #04375e; }
  .main-navigation:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 161px;
    height: 61px;
    background: url("../images/icons.png") no-repeat -109px -67px;
    content: "";
    text-indent: -9999px; }
  .main-navigation:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    overflow: hidden;
    width: 161px;
    height: 61px;
    background: url("../images/icons.png") no-repeat -109px -1px;
    content: "";
    text-indent: -9999px; }

.main-navigation__search {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 2px 3px 0 #a7c2dc;
  box-shadow: inset 0 2px 3px 0 #a7c2dc;
  position: relative;
  z-index: 1;
  float: right;
  margin: 17px 0 0 0;
  padding: 3px 25px 3px 8px;
  width: 200px;
  height: 30px;
  background: #fff; }
  .main-navigation__search input[type="search"] {
    display: block;
    float: left;
    width: 170px;
    height: 24px;
    border: none;
    color: #565656;
    font-size: 16px;
    line-height: 24px; }
  .main-navigation__search input[type="submit"] {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
    width: 18px;
    height: 18px;
    border: none;
    background: transparent url("../images/icons.png") no-repeat 0 -34px;
    cursor: pointer; }

.main-navigation__menu {
  position: relative; }
  .main-navigation__menu a {
    float: left;
    padding: 20px 25px;
    height: 60px;
    border-left: 1px solid #485c7c;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 21, 36, 0.75);
    font-size: 17px;
    line-height: 20px;
    -webkit-text-shadow: 0 4px 4px rgba(0, 21, 36, 0.75);
    -moz-text-shadow: 0 4px 4px rgba(0, 21, 36, 0.75); }
    .main-navigation__menu a:first-child {
      border-left: none; }
    .main-navigation__menu a.active {
      background-color: #00223b; }
    .main-navigation__menu a:hover {
      background-color: #096a9f;
      color: #c9cbcd; }

.page-navigation {
  width: 100%;
  min-width: 960px;
  background-color: #122742; }

.page-navigation__inner {
  width: 100%;
  border-top: 1px solid #33455d;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 1, 0, 0.37);
  box-shadow: 0 4px 4px -2px rgba(0, 1, 0, 0.37); }

.page-navigation__menu {
  width: 916px;
  margin: 0 auto;
  padding: 10px 12px; }
  .page-navigation__menu a {
    color: #4a5c7a;
    font-size: 19px;
    line-height: 28px;
    text-decoration: none;
    margin-left: 80px; }
    .page-navigation__menu a:first-child {
      margin-left: 0; }
    .page-navigation__menu a.active {
      color: #fff; }
    .page-navigation__menu a:hover {
      color: #fff; }

.service__item {
  margin: 20px 0;
  float: left;
  padding: 5px 25px;
  border-left: 1px solid #bebebe;
  width: 33.3333%; }
  .service__item:first-child {
    border-left: none; }

.service__item-title {
  text-align: center;
  margin: 0 0 0 0; }
  .service__item-title a {
    text-decoration: none; }
    .service__item-title a:hover {
      color: #f4900a; }

.service__item-image {
  text-align: center;
  margin: 0; }

.service__item-list {
  margin-bottom: 40px;
  margin-top: 0;
  margin: 0 0 40px 10px; }
  .service__item-list li {
    font-size: 14px;
    line-height: 23px;
    margin: 0; }

.service__item-control {
  text-align: center;
  margin-bottom: 15px; }

.team-info {
  background-color: #e3e3e3; }

.team-info__desc {
  float: left;
  width: 548px; }

.team-info__title {
  padding: 30px 35px;
  margin: 0;
  background-color: #313140;
  color: #000;
  font-weight: normal;
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  font-weight: normal; }
  .team-info__title span {
    font-size: 42px;
    line-height: 28px; }
    .team-info__title span:first-child {
      color: #0984ff; }

.team-info__content {
  padding: 35px; }
  .team-info__content p {
    font-size: 18px;
    line-height: 24px; }

.team-info__image {
  float: left;
  width: 410px; }

.location-breadcrumbs {
  width: 100%;
  min-width: 960px;
  margin: 20px 0; }
  .location-breadcrumbs a {
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline; }
    .location-breadcrumbs a:hover {
      text-decoration: none; }
  .location-breadcrumbs span {
    color: #2a89ce;
    font-size: 12px;
    line-height: 14px; }

.advantage__inner-content {
  padding: 20px 60px; }
  .advantage__inner-content .article img {
    margin: 13px 35px 20px -11px; }

.advantage__title {
  color: #183567;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  padding: 18px;
  text-align: center;
  background-color: #efefef;
  -moz-box-shadow: 0 1px 2px rgba(0, 1, 0, 0.47);
  -webkit-box-shadow: 0 1px 2px rgba(0, 1, 0, 0.47);
  box-shadow: 0 1px 2px rgba(0, 1, 0, 0.47);
  background-image: -moz-linear-gradient(bottom, #efefef 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(bottom, #efefef 0%, #f9f9f9 100%);
  background-image: -webkit-linear-gradient(bottom, #efefef 0%, #f9f9f9 100%);
  background-image: linear-gradient(bottom, #efefef 0%, #f9f9f9 100%); }

.advantage__line {
  border-top: 1px solid #b1b1b1;
  padding: 20px 0; }

.advantage__item {
  float: left;
  width: 33.3%; }
  .advantage__item:first-child .advantage__item-inner {
    border-left: none; }
  .advantage__item.advantage__item_active span {
    color: #ff3c00; }

.advantage__item-inner {
  border-left: 1px solid #b1b1b1;
  display: block;
  padding: 0 18px;
  position: relative;
  text-align: center;
  text-decoration: none; }
  .advantage__item-inner:hover span {
    color: #ff3c00; }
  .advantage__item-inner span {
    color: #183567;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold; }
  .advantage__item-inner .advantage__item-title {
    margin: 0 0 10px 0;
    display: block; }
  .advantage__item-inner .advantage__item-counter {
    color: #ff3c00;
    position: absolute;
    top: 0;
    left: 18px; }

.article img {
  margin: 0 20px 20px 0; }

.vertical-list__header {
  background-color: #ededed;
  border-top: 1px solid #a4a4a4;
  padding: 10px 10px 2px;
  text-align: center;
  margin: 0 0 7px 0; }
  .vertical-list__header h3 {
    color: #183567;
    font-size: 23px;
    line-height: 25px; }

.vertical-list__body {
  display: table;
  width: 100%; }

.vertical-list__image {
  width: 260px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 15px 0 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 15px 0 20px -10px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  display: table-cell; }
  .vertical-list__image img {
    vertical-align: top; }

.vertical-list__desc {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 60px; }
  .vertical-list__desc ul {
    list-style-type: square; }
  .vertical-list__desc li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0; }
    .vertical-list__desc li.custom-first-child {
      margin-left: -15px;
      list-style-type: none; }
  .vertical-list__desc p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 24px; }
  .vertical-list__desc a {
    color: #016da9; }

.tech-list li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 24px;
  font-size: 14px; }

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
