//  ======================================================
//  h-list
//  ======================================================

.h-list__line{
    display: table;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #a4a4a4;
}

.h-list__item{
    width: 33.3%;
    display: table-cell;
    padding: 10px 30px;
    vertical-align: middle;
    border-left: 1px solid #fff;
    color: #fff;
    &:first-child{
        border-left: none;
    }
    li{
        font-size: 14px;
        line-height: 24px;
        margin: 0;
    }
    p{
        font-size: 18px;
        line-height: 22px;
        text-shadow: 0 1px 2px rgba(0, 1, 0, .75);
    }
}

.special-solution__title{
    font-size: 24px;
    font-weight: normal;
    height: 64px;
    line-height: 34px;
    padding: 15px 70px;
}