//  ======================================================
//  Contact
//  ======================================================
.line{
    height: 1px;
    min-height: 1px;
    background: #555d6a;
    border: none;
    width: auto;
    display: block;
    position: relative;
    margin: 5px 0 10px;
}