//  ======================================================
//  Location-Breadcrumbs
//  ======================================================

.location-breadcrumbs{
    width: 100%;
    min-width: 960px;
    margin: 20px 0;
    font-family: Verdana, Geneva, sans-serif;
    a{
        color: #d0d0d0;
        font-size: 14px;
        line-height: 16px;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    span{
        color: #f1f1f2;
        font-size: 14px;
        line-height: 16px;
    }
}