//  ======================================================
//  Helpers
//  ======================================================
.container{
    width: 960px;
    margin: 0 auto;
}

.video-frame{
    margin: 10px 0 10px 40px;
}

.image-center{
    text-align: center;
    img{
        margin: 0 15px 10px;
        vertical-align: top;
    }
}

.fl-right{
    float: right !important;
}
.fl-left{
    float: left !important;
}
.ta-center{
    text-align: center !important;
}

//  margins

.u-margin-bothm{
    margin-left: 58px !important;
    margin-right: 58px !important;
}

.u-margin-tb{
    margin-top: 58px !important;
}

.u-margin-tm{
    margin-top: 30px;
    margin-bottom: 13px;
}

.u-margin-vnegative{
    margin: 0 -60px;
}

.u-width-44px{
    width: 44px;
}

.u-width-82px{
    width: 82px;
}

//  padding
.u-padding-tm{
    padding-top: 40px;
}

.u-padding-bothm{
    padding: 0 20px;
}
